*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    /* background-color: rgb(85, 82, 82); */
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(12, 44, 104, 0.781),rgb(64, 64, 143));
    
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container{
    /* background-color: white; */
    background: linear-gradient(rgba(18, 20, 124, 0.226),rgba(13, 57, 177, 0.26));
    width: 50vw;
    height: 90vh;
    border: 2px solid #f1e9e95d;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 3px 3px 3px  ;
    color: white;
}
.title{
    border: 2px solid rgba(243, 243, 243, 0.479);
    border-radius: 15px;
    box-shadow: 0px 0px 20px ;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin: 30px;
    height: 40px;
    font-size: larger;
    

}
img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border: 2px solid rgba(255, 254, 254, 0.986);
    margin: 20px;
    box-shadow: 0px 0px 10px ;
    
    
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.choose button{
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    width: auto;
    height: 40px;
    box-shadow: 0 0 4px;
    color: white;
    background-color: rgb(49, 34, 148);
    
}
.nxt{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nxt button{
    height: 40px;
    width: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(14, 14, 92);
    color: white;
    box-shadow: 0 0 4px;
}

.choose button:hover{
    box-shadow: 0 0 10px;
    
}
.choose button:active{
    background-color: rgba(240, 248, 255, 0.401);
}
.nxt button:hover{
    box-shadow: 0 0 10px;
}
.nxt button:active{
    background-color: rgba(240, 248, 255, 0.354);
}
